.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand href="#"  House of Chaos
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a href="index.html"  Home
            li
              a href="twitch.html"  Twitch
            li
              a href="#"  YouTube
            li
              a href="#"  Challonge
    /! Navigation Bar
    .jumbotron
      h1 Stuff
      h2 More stuff
      h3 All stuff
      h1 Stuff
      h2 More stuff
      h3 All stuff
      h1 Stuff
      h2 More stuff
      h3 All stuff
    
