/*Palette
dark - #000070
light purp- #767FD3
light blue- #66B8E2
#00009B
#00007c */

/* Global settings */
*{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
}

.navbar.navbar-default ul li a{
	color:#2A9FD6;
}
.icon-bar{
	background-color:#2A9FD6;
}
/** Index




**/
.carousel{
	padding:0;
	margin-top:65px;
	width:100%;
}

#slide{
	width:100%;
	margin:auto;
}

/** Container properties **/
.jumbotron{
	display:block;

	
}

.jumbotron h1{
}

body{
	
}

/** Navigation properties */
#navbar ul li:hover {
	background-color:whitesmoke;
}

/* Twitch page 





*/
#top{
	text-align:center;
	width:100%;
	margin:auto;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
}

#top #toTwitch{
	width:200px;
	margin: 0 auto;
}
#top h1{
	font-weight:bold;
	font-size: 20pt
}

#middle{
	top:0;
	margin-top:100px;
	height:720px;
	width:100%;
	padding:0px;
	margin-bottom:0px;
	padding:0px;
}

#bottom{
	margin-top:0px;
	padding:0px;
	width:100%;
	
}
#pastbroadcasts h1{
	font-size: 24pt;
	font-weight:bold;
}


#livestream {
	margin:auto;
}

#player{
	width:100%;
	margin-right:0px;
}


.thumbnail{
	
	height:100%;
	width:80%;
	margin:auto;
	
}

.thumbnail-title{
	z-index:1;
	font-size: 12pt;
	font-weight:bold;
	width:auto;
	
	text-align:center;
}


/* Youtube




*/
.panel-body{
	width:100%;
	height:100%;
}
#hypelights{
	margin-top:100px;
}

.hypelight{
	display:block;
	width:100%;
	height:600px;
	margin:auto;
}

#tsl{
	background-color:#212121;
}
#ds3{
	background-color:blueviolet;
}

/* Media queries 





*/
/* Desktop/Laptop small screen */
@media (max-width: 1920px){
	
	#middle{
		height: 600px;
	}
	#player{
		
		height: 600px;
	}
}


/* Desktop/Laptop small screen */
@media (max-width: 1280px){
	

}

/* iPhone 6s Plus */
@media (max-width: 1000px){
	
	/* Global */
	#navbar{
		background-color:black;
	}
	#bottom{
	}
	
	/* Twitch */
	#player{
		
	}
	
	/* YouTube */
	.hypelight{
	display:block;
	width:100%;
	height: 300px;
	margin:auto;
}
	.panel-body{
		width:100%;
		
	}

}

/* iPhone 6s Plus */
@media (max-width: 800px){
	
	/* Global */
	#navbar{
		background-color:aqua;
	}
	#bottom{
	}
	
	/* Twitch */
	#player{
		
	}
	
	/* YouTube */
	.hypelight{
	display:block;
	width:100%;
	height: 300px;
	margin:auto;
}
	.panel-body{
		width:100%;
		
	}

}


/* iPhone 6s Plus */
@media (max-width: 500px){
	
	/* Global */
	#navbar{
		background-color:aqua;
	}
	#bottom{
	}
	
	/* Twitch */
	#player{
		
	}
	
	/* YouTube */
	.hypelight{
	display:block;
	width:100%;
	height: 200px;
	margin:auto;
}
	.panel-body{
		width:100%;
		
	}

}