/*Palette
dark - #000070
light purp- #767FD3
light blue- #66B8E2
#00009B
#00007c */

/* Global settings */
*{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
}

.navbar.navbar-default ul li a{
	color:#2A9FD6;
}
.icon-bar{
	background-color:#2A9FD6;
}
#clickableWell {
	width:100%;
	height:100%;
	
	text-decoration:none;
}
/** 


Index


**/
.new-container{
	padding:0px;
	margin:0px;
	
}
.carousel{
	position:fixed;
	width:200px;
	height:300px;
	padding:0;
	margin-top:65px;
	width:100%;
	
}

#slide{
	width:100%;
	margin:auto;

}

/** Container properties **/
.jumbotron{
	display:block;

	
}

.jumbotron h1{
}

body{
	
}

/** Navigation properties */
#navbar ul li:hover {
	background-color:whitesmoke;
}

/* 


							Twitch page 


*/
#floatingAction{
	position:fixed;
	left:0;
	color:white;
	margin-top:100px;
	opacity:0.8;
	visibility:hidden;
}
#floatingAction:hover{
	opacity:1.0;
}
.alert.alert-success{
	background-color:#2A9FD6;
}
#top{
	text-align:center;
	width:100%;
	margin:auto;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
}

#top #toTwitch{
	width:200px;
	margin: 0 auto;
}
#top h1{
	font-weight:bold;
	font-size: 20pt
}

#middle{
	top:0;
	margin-top:100px;
	height:720px;
	width:100%;
	padding:0px;
	margin-bottom:0px;
	padding:0px;
}

#bottom{
	margin-top:0px;
	padding:0px;
	width:100%;
	
}
#pastbroadcasts h1{
	font-size: 24pt;
	font-weight:bold;
}


#livestream {
	margin:auto;
}

#player{
	width:100%;
	margin-right:0px;
}


#thumbnail-title{
	font-size:10pt;
	font-weight:bold;
	text-align:center;
}
#twitch-button{
	width:150px;
	margin:auto;
}



/* Youtube








*/

.panel-body{
	width:100%;
	height:100%;
}
#hypelights{
	margin-top:100px;
}

.highlight{
	display:block;
	width:100%;
	height:600px;
	margin:auto;
}

.well:hover{
	background-color:#2A9FD6;
	color:white;
}

#carousel-example-generic{
	width:100%;
	height:auto;
	margin:auto;
}
.section-white{
	padding:0;
	margin-top:0px;
	width:100%;
}

.carousel-inner{
	padding:0;
	width:100%;
	height:100%;

	
}




/* Media queries 





*/
/* Desktop/Laptop small screen */
@media (max-width: 1920px){
	
	#middle{
		height: 600px;
	}
	#player{
		
		height: 600px;
	}
}


/* Desktop/Laptop small screen */
@media (max-width: 1280px){
	
	
}

/* iPhone 6s Plus */
@media (max-width: 1000px){
	
	/* Global */
	#navbar{
		background-color:black;
	}
	#bottom{
	}
	
	/* Twitch */
	#player{
		
	}
	
	/* YouTube */
	/*.highlight{
	display:block;
	width:100%;
	height: 300px;
	margin:auto;
}*/
	.panel-body{
		width:100%;
		
	}

}

/* iPhone 6s Plus */
@media (max-width: 800px){
	
	/* Global */
	#navbar{
		background-color:aqua;
	}
	#bottom{
	}
	
	/* Twitch */
	#player{
		
	}
	
	/* YouTube */
	.highlight{
	
	display:block;
	width:100%;
	height: 300px;
	margin:auto;
}
	.panel-body{
		width:100%;
		
	}

}


/* iPhone 6s Plus */
@media (max-width: 500px){
	
	/* Global */
	#navbar{
		background-color:aqua;
	}
	#bottom{
	}
	
	/* Twitch */
	#player{
		
	}
	
	/* YouTube */
	.highlight{
	display:block;
	width:100%;
	height: 200px;
	margin:auto;
}
	.panel-body{
		width:100%;
		
		
	}

}